<!-- placeholder for layout purposes. -->
<% content_for :sidebar do %>
<div class="col-md-3" id="sidebar">
</div>
<% end %>

<div class="blogpost">
	<div class="page-header">
	  <h1>Updates<br>
	  	<small>I plan on keeping a small journal here for the purposes of a) keeping myself accountable to my own education, and b) sharing what I learn as an aspiring junior developer with anyone who might benefit. To see some of my other projects, check out the <%= link_to "about", about_path %> page.
	  	</small>
	  </h1>
	</div>
		<p class="lead">Hello World!</p>
		I've decided to postpone learning sails.js in favor of angular.js. This is mostly just a name recognition issue at this point. I plan on eventually learning the finer distinctions between node-express, sails, angular, ember, etc... but for now I plan on focusing on building a beginner application using
		angular.js. I look forward to posting more insights as I get better and learn a bit more about what I'm doing here. - 12/12/13
</div>