<% content_for :title, "jQuery Projects" %>
<% content_for :sidebar do %>
<div class="col-md-3" id="sidebar">
</div>
<% end %>

<div class="page-header">
	<h1>jQuery
	<br>
		<small>
			Getting jQuery to play nice with rails requires a little bit of tinkering. I outlined the exact process in the <%= link_to "ruby", ruby_path %> section. Here are some projects I've worked on that use jQuery.
		</small>
	</h1>
</div>
<ul>
	<h2>
		<li><%= link_to "Sliding Puzzle Project", puzzle_path %>
		</li>
		<li><%= link_to "Google Maps Project", maps_path, target: 'blank' %></li>
		<li><%= link_to "Bounty-Hunter jQuery-Mobile App", bounty_path, target: 'blank' %></li>
	</h2>
</ul>