<% content_for :title, "jQuery Projects" %>
<% content_for :sidebar do %>
<div class="col-md-3" id="sidebar">
</div>
<% end %>

<div class="page-header">
	<h1>jQuery
	<br>
		<small>
			Getting jQuery to play nice with rails requires a little bit of tinkering. I outlined the exact process in the <%= link_to "ruby", ruby_path %> section. Here are some projects I've worked on that use jQuery.
		</small>
	</h1>
</div>		

<div class="list-group">
  	
	<a href="/puzzle" class="list-group-item" target="blank">
  <h2 class="list-group-item-heading">Sliding Puzzle Project</h4>
  <p class="list-group-item-text">This my first jQuery project. It takes an image of an owl and splits it to form a puzzle.</p>
	</a>

	<a href="/maps" class="list-group-item" target="blank">
  <h2 class="list-group-item-heading">Google Maps Project</h4>
  <p class="list-group-item-text">This a site for a fake moving company that uses the Google Maps API and calculates prices based on weight and distance.</p>
	</a>

	<a href="/bounty" class="list-group-item" target="blank">
  <h2 class="list-group-item-heading">Bounty Hunter Project</h4>
  <p class="list-group-item-text">This is a site I built using jQuery mobile that uses the StackExchange API to find and sort StackOverflow bounties.</p>
	</a>


	<a href="/parallax" class="list-group-item" target="blank">
  <h2 class="list-group-item-heading">Parallax Space Scroll</h4>
  <p class="list-group-item-text">I wanted to learn how to use parallax scrolling. This is what I came up with.</p>
	</a>
</div>

<h3>Disclaimer: These aren't all 'my' projects. Some are projects that I've studied and customized out of a <%= link_to "book", "http://www.packtpub.com/jquery-hotshot/book", target: 'blank' %>. The associated scripts are all heavily notated, that's where the learning happens.</h3>
