<% content_for :sidebar do %>
<div class="col-md-3" id="sidebar">
</div>
<% end %>

<div id="puzzle" class="clearfix">
  <figure>
    <%= image_tag("barn_owl.jpg") %>
  </figure>
  <div id="puzzle-ui">
   <p id="time">Current time: <span>00:00:00</span></p>
   <button id="start">Start!</button>
  </div>
</div>