<% content_for :head do %>
    <%= stylesheet_link_tag "common.css", "puzzle.css" %>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js">
</script>
    <%= javascript_include_tag "sliding-puzzle" %>       
<% end %>

<body>


<div id="puzzle" class="clearfix">
  <figure>
    <%= image_tag("barn_owl.jpg") %>
  </figure>
  <div id="puzzle-ui">
   <p id="time">Current time: <span>00:00:00</span></p>
   <button id="start">Start!</button>
  </div>
</div>
</body>
