<div itemscope="" itemtype="http://schema.org/BlogPosting">
	<article class="blog-post" id="#####">
		<p class="lead"><span itemprop="name">ARTICLE TITLE</span> - <time datetime="2014-02-09" itemprop="dateCreated">00/00/00</time></p>

		<span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
		  <span itemprop="name">
	      <a href="https://plus.google.com/u/0/101336447282156886525/" itemprop="url" rel="author" class="hidden">Joe Susnick</a>
		  </span><!-- itemprop="name" -->
		</span><!-- itemtype="Person" -->

		<span itemprop="keywords" class="hidden">
			KEYWORDS
		</span>
		
		<span itemprop="articleBody">

		CONTENT
		
		</span><!-- articleBody -->
	</article><!-- blog-post -->
</div><!-- itemtype="BlogPosting" -->