<div itemscope="" itemtype="http://schema.org/BlogPosting">
	<article class="blog-post" id="02-11-14">
		<p class="lead"><span itemprop="name">Backgroundimation</span> - <time datetime="2014-02-11" itemprop="dateCreated">02/12/14</time></p>

		<span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
		  <span itemprop="name">
	      <a href="https://plus.google.com/u/0/101336447282156886525/" itemprop="url" rel="author" class="hidden">Joe Susnick</a>
		  </span><!-- itemprop="name" -->
		</span><!-- itemtype="Person" -->

		<span itemprop="keywords" class="hidden">
			Parallax Scrolling jQuery Background Animation CSS
		</span>
		
		<span itemprop="articleBody">

			<p>So I saw something like this on a website and wanted to figure out how they did it. I basically just looked at their css and figured out what they did. The hard part was making a muted background to scroll through.</p>

			<div class="splash">
				<blockquote id="splash-example">
					<p>Parallax and CSS Tricks!</p>
					<footer>Joe said this once</footer>
				</blockquote>
			</div>
			<br/>
			<p>I also messed around with Parallax a bit. <%= link_to "Here's a link to it.", parallax_path, target: 'blank' %> I also stuck a link under the jQuery section. It was really neat. Deciding how I wanted it to look took about 10x longer than figuring out how to do it. :)</p>		
		</span><!-- articleBody -->
	</article><!-- blog-post -->
</div><!-- itemtype="BlogPosting" -->