<div itemscope="" itemtype="http://schema.org/BlogPosting">
	<article class="blog-post", id="12-12-13">
		<p class="lead"><span itemprop="name">Hello World!</span> - <time datetime="2013-12-12" itemprop="dateCreated">12/12/13</time></p>

		<span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
		  <span itemprop="name">
	      <a href="https://plus.google.com/u/0/101336447282156886525/" itemprop="url" rel="author" class="hidden">Joe Susnick</a>
		  </span><!-- itemprop="name" -->
		</span><!-- itemtype="Person" -->

		<span itemprop="keywords" class="hidden">
			Sails JS Goals
		</span>
		
		<span itemprop="articleBody">

			I've decided to postpone learning sails.js in favor of angular.js. This is mostly just a name recognition issue at this point. I plan on eventually learning the finer distinctions between node-express, sails, angular, ember, etc... but for now I plan on focusing on building a beginner application using angular.js. I look forward to posting more insights as I get better and learn a bit more about what I'm doing here. - 12/12/13
		</span><!-- articleBody -->
	</article><!-- blog-post -->
</div><!-- itemtype="BlogPosting" -->