<div itemscope="" itemtype="http://schema.org/BlogPosting">
	<article class="blog-post" id="01-01-14">
		<p class="lead"><span itemprop="name">New Year! New Projects!</span> - <time datetime="2014-01-01" itemprop="dateCreated">01/01/14</time></p>

		<span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
		  <span itemprop="name">
	      <a href="https://plus.google.com/u/0/101336447282156886525/" itemprop="url" rel="author" class="hidden">Joe Susnick</a>
		  </span><!-- itemprop="name" -->
		</span><!-- itemtype="Person" -->

		<span itemprop="keywords" class="hidden">
			goals jQuery packt
		</span>

		<span itemprop="articleBody">
			<p>The Denver Code Club is starting a weekly jquery meetup soon to go through the book <%= link_to "jQuery Hotshot", "http://www.packtpub.com/jquery-hotshot/book", target: 'blank' %>.
			</p>

			<figure>
			 	<%= link_to image_tag("jQueryHotshots.png"), "http://www.packtpub.com/jquery-hotshot/book", class: "blog-image", target: "blank" %>
			</figure> 

			<p>My goal for the next 8 weeks is to be one step ahead of the class in reading and understanding the material so I can be a resource for the rest of the students. Also, the more I know about the material the more in-depth questions I can ask of my more experienced peers there. It's definitely a win-win. I'll post the result of the projects on this site so that anyone can see my progress in mastering jQuery.
			</p>
		</span>
	</article>
</div>