// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/////////////////////////////////
/* Imports, Mixins, Variables */
///////////////////////////////
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";


$lightTan: #e8e5e4;
$tanText: #615f5b;
$tanBackground: #eeebe3;
$tanSidebar: #5e5e5e;
$activeText: #5e5e5e;
$boolTrue: #1c7dd0;
$boolFalse: #cb7832;

//////////////////////////////////////////
/* Over-ride for bootstrap link styles */
////////////////////////////////////////
a {
	color: $tanText !important;
  text-decoration: none !important;
  &:focus, :hover {
    outline: 3px auto $tanText;
  }
}

////////////////////////////////
/* Over-ride for pre element */
//////////////////////////////
pre {
  text-align: left;
  margin-bottom: 40px;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
}

//////////////////////////////////////
/* Over-ride for page-header class */
////////////////////////////////////
.page-header {
  color: $activeText;
  margin-top: 0;
}

.page-header > h1 > h2 > h3 > h4 > h5 [id] {
  padding-top: 80px;
  margin-top: -45px;
}

///////////////////////////////
/* Over-ride for hr element */
/////////////////////////////
hr {
  border-top: 1px solid $activeText;
}

////////////////////////////
/* Sets Background image */
//////////////////////////
html body { 
  background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //Adjusts to play nice with header
  padding-top: 50px;
	text-align: center;
	position: relative;
	}
	@media (max-width: 979px) {
		body {
			padding-top: 30;
		}
}

///////////////////
/* Main Content */
/////////////////
li {
  text-align: left;
}

#center-notes {
	margin-top: 15px;
	padding: 15px; 
	background: $tanBackground;
	border-radius: 5px;
}

#boolTrue {
  color: $boolTrue;
}

#boolFalse {
  color: $boolFalse;
}

#markedText {
  color: red;
}

.tab > p {
  font-size: 0.91em;
  margin-left: 30px;
}

.list-group .list-group-item .list-group-item-heading {
  text-align: left;
  color: $tanText;
}

.list-group-item p {
  text-align: left;
  color: $tanText; 
}

////////////////////////////
/* Blog Specific Styling */
//////////////////////////
.blog-image {
  display: block;
  text-align: center;
  margin: 20px 0px 10px 0px;

}

.blog-post {
  text-align: left;
  margin-bottom: 20px;
  padding-top: 60px;
  h4 {
    padding-top: 5px;
    margin-top: 5px;  
  }
  .lead {
    border-top: 1px solid black;    
  }
}

///////////////////////////////////////
/* Scrolling post example (2/12/14) */
/////////////////////////////////////
@-webkit-keyframes bgslide {
  from { background-position:0 0;}
  to { background-position:0 -500px;}
}

@-moz-keyframes bgslide {
  from { background-position:0 0;}
    to { background-position:0 -500px;}
}

.splash {
  overflow: hidden;
  height: 200px;
  background-size: auto;
  background-color: #f8fafb;
  background-image: url(codebackground.png);
  background-position: center 0;
  background-repeat: repeat;
  -webkit-animation: bgslide 20s linear 0s infinite normal none; 
  -moz-animation: bgslide 20s linear 0s infinite normal none;
}

#splash-example {
  text-align: center;
  margin-top: 50px;
  border-left: none;
}

////////////////////////////////////
/* Contact Specific Styling */
//////////////////////////////////
.form-control {
  display: inline-block;
  &:focus {
    outline: 3px auto $activeText;
  }
}

.btn:focus {
  outline: 3px auto $activeText;
}

.btn[disabled] {
  opacity: 0.65;
}

hr {
  &#icons {
    margin-top: 25px;
    margin-bottom: 4px;
    width: 75%;
  }
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
  background-color: $tanBackground;
  padding-left: 0px;
  padding-right: 0px;
}

/* First level of nav */
.bs-sidenav {
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: $tanBackground;
  border-radius: 5px;
  li {
    a {
      display: block;
      color: #777777;
      padding: 5px 20px;
      &:hover &:focus {
        text-decoration: none;
        background-color: #e5e3e9;
        border-right: 1px solid #dbd8e0;
      }
    }
  }
}

/* All levels of nav */
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: $activeText;
  background-color: transparent;
  border-right: 1px solid $tanSidebar;
}


/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
  li {
    a {
      padding-top:    3px;
      padding-bottom: 3px;
      padding-left: 30px;
      font-size: 90%;      
    }
  }
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Won't display side nav in tablet or mobile view */
@media screen and (max-width: 992px) {
  #sidebar {
    display: none;
  }
}
