<div class="blog-post", id="12-12-13">
	<p class="lead">Hello World! - 12/12/13</p>
		I've decided to postpone learning sails.js in favor of angular.js. This is mostly just a name recognition issue at this point. I plan on eventually learning the finer distinctions between node-express, sails, angular, ember, etc... but for now I plan on focusing on building a beginner application using angular.js. I look forward to posting more insights as I get better and learn a bit more about what I'm doing here. - 12/12/13
</div>