<article class="blog-post" id="01-01-14">
<p class="lead">New Year! New Projects! - <time datetime="2014-01-01">01/01/14</time></p>
	<p>The Denver Code Club is starting a weekly jquery meetup soon to go through the book <%= link_to "jQuery Hotshot", "http://www.packtpub.com/jquery-hotshot/book", target: 'blank' %>.
	</p>

	<figure>
	 	<%= link_to image_tag("jQueryHotshots.png"), "http://www.packtpub.com/jquery-hotshot/book", class: "blog-image", target: "blank" %>
	</figure> 

	<p>My goal for the next 8 weeks is to be one step ahead of the class in reading and understanding the material so I can be a resource for the rest of the students. Also, the more I know about the material the more in-depth questions I can ask of my more experienced peers there. It's definitely a win-win. I'll post the result of the projects on this site so that anyone can see my progress in mastering jQuery.
	</p>
</article>