<article class="blog-post" id="01-30-14">
<p class="lead">Out-firefoxed again! - <time datetime="2014-01-10">01/30/14</time></p>
	<p>So this morning I received an email that my brand-new contact page was displaying funny on firefox.
	</p>

<pre><%= image_tag "firefoxoverflow.png", class: "img-responsive" %>
</pre>
 
<p>I was able to fix it really quickly by changing the css for the .form-control class from:</p>

<pre>
.form-control {
	display: block;
}
</pre>

<p>to:
</p>

<pre>
.form-control {
  display: inline-block;
}
</pre>

<p>This was an easy fix but reminded me that I should keep a closer eye on browser compatibility if I want to reach the next level here. 
</p>
</article>